<!DOCTYPE html>
<html lang="en">

<head>

	{%block meta %}{%endblock %}

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="http://{{page.app.yasifipo['config']['yasifipo_server']}}">MultiJu.Net</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://{{page.app.yasifipo['config']['yasifipo_server']}}">MultiJu.Net
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://{{page.app.yasifipo['config']['yasifipo_server']}}/{{'page//email.md'|yasifipo}}">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
	<div style="min-height:20px"></div>
  {% block body %}{% endblock %}

	<!-- Bootstrap core JavaScript -->

  <script src="{{ url_for('static', filename='js/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
