{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="MultiJu.Net DeepLearning Intelligence Artificielle" />
<meta name="author" content="MultiJu.Net" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{page.app.yasifipo['sitedata']['contact']['twitter_account']}}" />
<meta name="twitter:creator" content="{{page.app.yasifipo['sitedata']['contact']['twitter_account']}}" />
<meta name="twitter:title" content="MultiJu.Net ... chaque jour" />
<meta name="twitter:image" content="http://{{page.app.yasifipo['config']['yasifipo_server']}}/{{ url_for('static', filename='logo.png')}}" />
<meta name="twitter:description" content="MultiJu.Net: une pastille, info, tuto ... IA, python, Data ..." />

{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">

      {{page.content}}

      <ul class="list-unstyled">
        {% for post in page.posts.posts %}
        <li><a href="{{post.url}}">{{post.title}}</a><li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
